MODEL_TEMP=<value>

#------ FOR OPEN API ------#
OPENAI_MODEL_NAME=<value>
OPENAI_API_KEY=<value>
OPENAI_API_BASE=<value>
OPENAI_VISION_MODEL=<value>


# #------ FOR OLLAMA ------#
OLLAMA_MODEL_NAME=<value>
OLLAMA_API_KEY=<value>
OLLAMA_API_BASE=<value>
OLLAMA_VISION_MODEL=<value>

#------ VECTOR DB ------#
POSTGRES_USERNAME=<value>
POSTGRES_PASSWORD=<value>
POSTGRES_HOST=localhost
POSTGRES_DATABASE=langflow
POSTGRES_PORT=5432
POSTGRES_CONNECTION_PREFIX=postgresql+psycopg
COLLECTION_NAME=security_requirement

#------ FILE SYSTEM ------#
S3_BUCKET="knowledgeFile"
GRADIO_PORT=1212